<h1>iPadを借りる</h1>
<h2>生徒番号と、借りるiPadの管理番号を入力してください。</h2>

<%= form_for(@list) do |f| %>
<p>例）2年Fクラス50番の場合→「2F50」と入力</p>
<%= f.label :attendance, "生徒番号：" %>
<%= f.text_field :attendance %>

<p>例）iPad背面下部にsmc082とある場合→「082」と入力</p>
<%= f.label :number, "iPad管理番号：" %>
<%= f.number_field :number %>

<%= f.submit "投稿" %>

<% end %>